Repository Maeda-Naoki/AndroidCI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: DockerImageBuild, ReviewdogDockerImageBuild

.gitlab/ci/docker.gitlab-ci.yml:

DockerImageBuild:
  stage: docker
  image: docker:27.3.1-cli-alpine3.20
  services:
    - name: docker:26.1.3-dind-alpine3.19
      alias: docker
  before_script:
    # Login GitLab container registry
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # Get Docker image version from Dockerfile
    - version=$(grep 'LABEL version=' Dockerfile | sed -e 's/.*=//' -e 's/"//g')
    # Set default version when there is no version label in the DockerImage
    - |
      if [ -z "$version" ] || [ ! -n "$version" ] || [ "$version" = "<no value>" ] || [ "$version" = "null" ]; then
        echo "Can't Get DockerImage version from latest image"
        echo "Set Default DockerImage version (v1.0.0)"
        version="1.0.0"
      fi
    # Display DockerImage version
    - echo $version
    # Create Docker Builder instance
    - docker buildx create --use --driver=docker-container
    # Build Docker image & Push Docker images to GitLab container registry
    - >
      docker buildx build
      --file Dockerfile
      --cache-from type=registry,ref=$CI_REGISTRY_IMAGE:latest
      --platform linux/amd64,linux/arm64
      -t $CI_REGISTRY_IMAGE:latest
      -t $CI_REGISTRY_IMAGE:$version
      --push
      .
  rules:
    # Run a job only when the Dockerfile is changed.
    - changes:
        - .gitlab/ci/docker.gitlab-ci.yml
        - Dockerfile
  interruptible: true

ReviewdogDockerImageBuild:
  stage: docker
  image: docker:27.3.1-cli-alpine3.20
  services:
    - name: docker:26.1.3-dind-alpine3.19
      alias: docker
  before_script:
    # Login GitLab container registry
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # Get Docker image version from Dockerfile
    - version=$(grep 'LABEL version=' ReviewDog.Dockerfile | sed -e 's/.*=//' -e 's/"//g')
    # Set default version when there is no version label in the DockerImage
    - |
      if [ -z "$version" ] || [ ! -n "$version" ] || [ "$version" = "<no value>" ] || [ "$version" = "null" ]; then
        echo "Can't Get DockerImage version from latest image"
        echo "Set Default DockerImage version (v1.0.0)"
        version="1.0.0"
      fi
    # Display DockerImage version
    - echo $version
    # Create Docker Builder instance
    - docker buildx create --use --driver=docker-container
    # Build Docker image & Push Docker images to GitLab container registry
    - >
      docker buildx build
      --file ReviewDog.Dockerfile
      --cache-from type=registry,ref=$CI_REGISTRY_IMAGE/reviewdog:latest
      --platform linux/amd64,linux/arm64
      -t $CI_REGISTRY_IMAGE/reviewdog:latest
      -t $CI_REGISTRY_IMAGE/reviewdog:$version
      --push
      .
  rules:
    # Run a job only when the Dockerfile is changed.
    - changes:
        - .gitlab/ci/docker.gitlab-ci.yml
        - ReviewDog.Dockerfile
  interruptible: true

chore(deps): update dependency gradle to v9
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

chore(deps): update renovate/renovate docker tag to v41.60.3
  .gitlab/ci/renovate.gitlab-ci.yml
Due: none

chore: update git v2.49.1-r0 in Reviewdog Dockerfile
  ReviewDog.Dockerfile
Due: ReviewdogDockerImageBuild

fix(deps): update dependency androidx.compose:compose-bom to v2025.08.00
  gradle/libs.versions.toml
Due: none

chore(deps): update kotlin monorepo to v2.2.10
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency com.google.devtools.ksp to v2.2.10-2.0.2
  gradle/libs.versions.toml
Due: none

chore(deps): update android gradle plugin to v8.12.1
  gradle/libs.versions.toml
Due: none

fix(deps): update hilt to v2.57.1
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency org.jlleitschuh.gradle.ktlint to v13.1.0
  gradle/libs.versions.toml
Due: none

chore(deps): update kotlin monorepo to v2.2.20
  gradle/libs.versions.toml
Due: none

fix(deps): update android lifecycle to v2.9.4
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency gradle to v9.1.0
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none

fix(deps): update dependency androidx.compose:compose-bom to v2025.09.01
  gradle/libs.versions.toml
Due: none

buid: migrate base image to AmazonLinux2023
  Dockerfile
Due: DockerImageBuild

build: update reviewdog installer URL
  ReviewDog.Dockerfile
Due: ReviewdogDockerImageBuild

build: update Reviewdog version v0.21.0
  ReviewDog.Dockerfile
Due: ReviewdogDockerImageBuild

build: migrate base image dependencies install commands
  Dockerfile
Due: DockerImageBuild

chore: update build docker image version to v1.3.0
  Dockerfile
Due: DockerImageBuild

build: optimize dnf install layer
  Dockerfile
Due: DockerImageBuild
