Repository Maeda-Naoki/AndroidCI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: DockerImageBuild, DangerDockerImageBuild

.gitlab/ci/docker.gitlab-ci.yml:

DockerImageBuild:
  stage: docker
  image: docker:24.0.6-git
  services:
    - name: docker:20.10.24-dind
      alias: docker
  before_script:
    # Login GitLab container registry
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    # Build Docker image(latest tag)
    - docker pull $CI_REGISTRY_IMAGE:latest || true
    - docker build --network host --cache-from $CI_REGISTRY_IMAGE:latest --tag $CI_REGISTRY_IMAGE:latest .
    # Get Docker image version from Dockerfile
    - version=$(docker inspect --format='{{.ContainerConfig.Labels.version}}' $CI_REGISTRY_IMAGE:latest)
    - echo $version
    # Build Docker image(version tag)
    - docker build --tag $CI_REGISTRY_IMAGE:$version .
    # Push Docker images to GitLab container registry
    - docker push $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:$version
  rules:
    # Run a job only when the Dockerfile is changed.
    - changes:
        - .gitlab/ci/docker.gitlab-ci.yml
        - Dockerfile
  interruptible: true

DangerDockerImageBuild:
  stage: docker
  image: docker:24.0.6-git
  services:
    - name: docker:20.10.24-dind
      alias: docker
  before_script:
    # Login GitLab container registry
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    # Build Docker image(latest tag)
    - docker pull $CI_REGISTRY_IMAGE/danger:latest || true
    - docker build --network host --cache-from $CI_REGISTRY_IMAGE/danger:latest --tag $CI_REGISTRY_IMAGE/danger:latest -f Danger.Dockerfile .
    # Get Docker image version from Dockerfile
    - version=$(docker inspect --format='{{.ContainerConfig.Labels.version}}' $CI_REGISTRY_IMAGE/danger:latest)
    - echo $version
    # Build Docker image(version tag)
    - docker build --tag $CI_REGISTRY_IMAGE/danger:$version -f Danger.Dockerfile .
    # Push Docker images to GitLab container registry
    - docker push $CI_REGISTRY_IMAGE/danger:latest
    - docker push $CI_REGISTRY_IMAGE/danger:$version
  rules:
    # Run a job only when the Dockerfile is changed.
    - changes:
        - .gitlab/ci/docker.gitlab-ci.yml
        - Danger.Dockerfile
  interruptible: true

chore: update dind service image
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore: update script to get label from Dockerfile
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore: add default version set script for failure to get version
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore: update docker login script
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

docs: add display version script comment
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore(deps): update amazoncorretto docker tag to v17.0.9-alpine3.18
  Dockerfile
Due: DockerImageBuild

chore(deps): update plugin org.jetbrains.kotlin.android to v1.9.20
  build.gradle.kts
Due: none

fix(deps): update android jetpack library to v2.7.5
  app/build.gradle.kts
Due: none

chore(deps): update android gradle plugin to v8.1.3
  build.gradle.kts
Due: none

chore(deps): update dependency danger to v9.4.0
  Gemfile
Due: none

chore(deps): update android gradle plugin to v8.1.4
  build.gradle.kts
Due: none

chore(deps): update plugin org.jetbrains.kotlin.android to v1.9.21
  build.gradle.kts
Due: none

build: remove Docker build script
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

build: update Docker image versioion reading method
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

build: add Docker builder instance create script
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

build: migrate docker build command
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore: update Docker image version to 1.2.0
  Danger.Dockerfile
  Dockerfile
Due: DockerImageBuild, DangerDockerImageBuild

chore(deps): update dependency gradle to v8.5
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): update android gradle plugin to v8.2.0
  build.gradle.kts
Due: none

chore(deps): update plugin org.jlleitschuh.gradle.ktlint to v12
  build.gradle.kts
Due: none

build: update Danger Docker image build rule
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore(deps): update dependency danger to v9.4.1
  Gemfile
Due: none

chore(deps): update plugin org.jlleitschuh.gradle.ktlint to v12.0.3
  build.gradle.kts
Due: none

fix(deps): update android jetpack library to v2.7.6
  app/build.gradle.kts
Due: none

fix(deps): update dependency com.google.android.material:material to v1.11.0
  app/build.gradle.kts
Due: none

chore(deps): update plugin org.jetbrains.kotlin.android to v1.9.22
  build.gradle.kts
Due: none

chore(deps): update dependency danger to v9.4.2
  Gemfile
Due: none

chore(deps): update ruby docker tag to v3.3.0
  Danger.Dockerfile
Due: DangerDockerImageBuild

chore: add GitLab CI for renovate config
  renovate.json5
Due: none

chore(deps): update docker docker tag to v24.0.7
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore(deps): update renovate/renovate docker tag to v37.115.0
  .gitlab/ci/renovate.gitlab-ci.yml
Due: none

fix: add GitLab CI trigger branch suffix
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

docs: update Gitlab CI trigger branch comment
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

fix: add renovate branch to GitLab CI rules
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: none

docs: add Markdown badges
  README.md
Due: none

docs: remove category Headings
  README.md
Due: none

docs: update README Headings level
  README.md
Due: none

docs: update RENOVATE_TOKEN reference list
  README.md
Due: none

chore(deps): update android gradle plugin to v8.2.1
  build.gradle.kts
Due: none

chore(deps): update amazoncorretto docker tag to v21
  Dockerfile
Due: DockerImageBuild
