Repository Maeda-Naoki/AndroidCI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: DockerImageBuild, ReviewdogDockerImageBuild

DockerImageBuild:
  stage: docker
  image: docker:27.3.1-cli-alpine3.20
  services:
  - name: docker:26.1.3-dind-alpine3.19
    alias: docker
  before_script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
  ...

ReviewdogDockerImageBuild:
  stage: docker
  image: docker:27.3.1-cli-alpine3.20
  services:
  - name: docker:26.1.3-dind-alpine3.19
    alias: docker
  before_script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
  ...

chore(deps): update android gradle plugin to v8.7.2
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency androidx.core:core-ktx to v1.15.0
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency com.google.devtools.ksp to v2.0.21-1.0.27
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency gradle to v8.11
  gradle/wrapper/gradle-wrapper.properties
Due: none

fix(deps): update android navigation to v2.8.4
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency androidx.compose:compose-bom to v2024.11.00
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency com.google.devtools.ksp to v2.0.21-1.0.28
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency gradle to v8.11.1
  gradle/wrapper/gradle-wrapper.properties
Due: none

build: add saas macos tag to gitlab-ci config
  .gitlab/ci/build.gitlab-ci.yml
  .gitlab/ci/docker.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
  .gitlab/ci/renovate.gitlab-ci.yml
  .gitlab/ci/test.gitlab-ci.yml
Due: DockerImageBuild, ReviewdogDockerImageBuild

chore(deps): update dependency org.jlleitschuh.gradle.ktlint to v12.1.2
  gradle/libs.versions.toml
Due: none

chore(deps): update kotlin monorepo to v2.1.0
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency com.google.devtools.ksp to v2.1.0-1.0.29
  gradle/libs.versions.toml
Due: none

chore(deps): update android gradle plugin to v8.7.3
  gradle/libs.versions.toml
Due: none

chore(deps): update hilt to v2.53
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency io.arrow-kt:arrow-stack to v2
  gradle/libs.versions.toml
Due: none

chore(deps): update alpine docker tag to v3.21.0
  ReviewDog.Dockerfile
Due: ReviewdogDockerImageBuild

chore(deps): update hilt to v2.53.1
  gradle/libs.versions.toml
Due: none

fix(deps): update android jetpack compose
  gradle/libs.versions.toml
Due: none

fix(deps): update android navigation to v2.8.5
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency org.jetbrains.dokka to v2
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency gradle to v8.12
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

chore(deps): update hilt to v2.54
  gradle/libs.versions.toml
Due: none

fix(deps): update kotlin coroutines to v1.10.1
  gradle/libs.versions.toml
Due: none

chore: update git v2.47.1 in Reviewdog Dockerfile
  ReviewDog.Dockerfile
Due: ReviewdogDockerImageBuild

chore: update Reviewdog v0.20.3
  ReviewDog.Dockerfile
Due: ReviewdogDockerImageBuild

chore(deps): update alpine docker tag to v3.21.1
  ReviewDog.Dockerfile
Due: ReviewdogDockerImageBuild

chore(deps): update alpine docker tag to v3.21.2
  ReviewDog.Dockerfile
Due: ReviewdogDockerImageBuild

chore(deps): update android gradle plugin to v8.8.0
  gradle/libs.versions.toml
Due: none

chore(deps): update hilt to v2.55
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency androidx.activity:activity-compose to v1.10.0
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency androidx.compose:compose-bom to v2025
  gradle/libs.versions.toml
Due: none

chore; update Git v2.47.2-r0 in Reviewdog Dockerfile
  ReviewDog.Dockerfile
Due: ReviewdogDockerImageBuild

chore(deps): update dependency gradle to v8.12.1
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore(deps): update amazoncorretto docker tag to v21.0.6-alpine3.20
  Dockerfile
Due: DockerImageBuild

fix(deps): update dependency io.arrow-kt:arrow-stack to v2.0.1
  gradle/libs.versions.toml
Due: none

chore(deps): update kotlin monorepo to v2.1.10
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency com.google.devtools.ksp to v2.1.10-1.0.29
  gradle/libs.versions.toml
Due: none

fix(deps): update android navigation to v2.8.6
  gradle/libs.versions.toml
Due: none

build: update Docker base image v27.5.1-alpine3.21
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, ReviewdogDockerImageBuild

Path conditions:
  DockerImageBuild: any of: .gitlab/ci/docker.gitlab-ci.yml, Dockerfile
  ReviewdogDockerImageBuild: any of: .gitlab/ci/docker.gitlab-ci.yml, ReviewDog.Dockerfile
