Repository Maeda-Naoki/AndroidCI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: DockerImageBuild, ReviewdogDockerImageBuild

.gitlab/ci/docker.gitlab-ci.yml:

DockerImageBuild:
  stage: docker
  image: docker:27.3.1-cli-alpine3.20
  services:
    - name: docker:26.1.3-dind-alpine3.19
      alias: docker
  before_script:
    # Login GitLab container registry
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # Get Docker image version from Dockerfile
    - version=$(grep 'LABEL version=' Dockerfile | sed -e 's/.*=//' -e 's/"//g')
    # Set default version when there is no version label in the DockerImage
    - |
      if [ -z "$version" ] || [ ! -n "$version" ] || [ "$version" = "<no value>" ] || [ "$version" = "null" ]; then
        echo "Can't Get DockerImage version from latest image"
        echo "Set Default DockerImage version (v1.0.0)"
        version="1.0.0"
      fi
    # Display DockerImage version
    - echo $version
    # Create Docker Builder instance
    - docker buildx create --use --driver=docker-container
    # Build Docker image & Push Docker images to GitLab container registry
    - >
      docker buildx build
      --file Dockerfile
      --cache-from type=registry,ref=$CI_REGISTRY_IMAGE:latest
      --platform linux/amd64,linux/arm64
      -t $CI_REGISTRY_IMAGE:latest
      -t $CI_REGISTRY_IMAGE:$version
      --push
      .
  rules:
    # Run a job only when the Dockerfile is changed.
    - changes:
        - .gitlab/ci/docker.gitlab-ci.yml
        - Dockerfile
  interruptible: true

ReviewdogDockerImageBuild:
  stage: docker
  image: docker:27.3.1-cli-alpine3.20
  services:
    - name: docker:26.1.3-dind-alpine3.19
      alias: docker
  before_script:
    # Login GitLab container registry
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # Get Docker image version from Dockerfile
    - version=$(grep 'LABEL version=' ReviewDog.Dockerfile | sed -e 's/.*=//' -e 's/"//g')
    # Set default version when there is no version label in the DockerImage
    - |
      if [ -z "$version" ] || [ ! -n "$version" ] || [ "$version" = "<no value>" ] || [ "$version" = "null" ]; then
        echo "Can't Get DockerImage version from latest image"
        echo "Set Default DockerImage version (v1.0.0)"
        version="1.0.0"
      fi
    # Display DockerImage version
    - echo $version
    # Create Docker Builder instance
    - docker buildx create --use --driver=docker-container
    # Build Docker image & Push Docker images to GitLab container registry
    - >
      docker buildx build
      --file ReviewDog.Dockerfile
      --cache-from type=registry,ref=$CI_REGISTRY_IMAGE/reviewdog:latest
      --platform linux/amd64,linux/arm64
      -t $CI_REGISTRY_IMAGE/reviewdog:latest
      -t $CI_REGISTRY_IMAGE/reviewdog:$version
      --push
      .
  rules:
    # Run a job only when the Dockerfile is changed.
    - changes:
        - .gitlab/ci/docker.gitlab-ci.yml
        - ReviewDog.Dockerfile
  interruptible: true

fix(deps): update android navigation to v2.8.7
  gradle/libs.versions.toml
Due: none

chore(deps): update android gradle plugin to v8.8.1
  gradle/libs.versions.toml
Due: none

chore(deps): update alpine docker tag to v3.21.3
  ReviewDog.Dockerfile
Due: ReviewdogDockerImageBuild

chore(deps): update dependency com.google.devtools.ksp to v2.1.10-1.0.30
  gradle/libs.versions.toml
Due: none

fix(deps): update android jetpack compose
  gradle/libs.versions.toml
Due: none

chore(deps): update docker docker tag to v28
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, ReviewdogDockerImageBuild

chore(deps): update dependency gradle to v8.13
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Due: none

chore(deps): update android gradle plugin to v8.8.2
  gradle/libs.versions.toml
Due: none

fix(deps): update android navigation to v2.8.8
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency com.google.devtools.ksp to v2.1.10-1.0.31
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency androidx.activity:activity-compose to v1.10.1
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency org.jlleitschuh.gradle.ktlint to v12.2.0
  gradle/libs.versions.toml
Due: none

fix(deps): update android navigation to v2.8.9
  gradle/libs.versions.toml
Due: none

chore(deps): update android gradle plugin to v8.9.1
  gradle/libs.versions.toml
Due: none

chore(deps): update hilt to v2.56.1
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency androidx.compose:compose-bom to v2025.03.01
  gradle/libs.versions.toml
Due: none

chore: update libgcc v13.2.1_git20240309-r1
  Dockerfile
Due: DockerImageBuild

chore: update Android Build Tools v36.0.0
  Dockerfile
Due: DockerImageBuild

chore: update Android command line tools v13114758
  Dockerfile
Due: DockerImageBuild

chore(deps): update docker docker tag to v28.0.4
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, ReviewdogDockerImageBuild

chore: update Renovate v39.220.3-full
  .gitlab/ci/renovate.gitlab-ci.yml
Due: none

chore(deps): update renovate/renovate docker tag to v39.220.4
  .gitlab/ci/renovate.gitlab-ci.yml
Due: none

chore(config): migrate config renovate.json5
  renovate.json5
Due: none

chore: revive renovate config comments
  renovate.json5
Due: none

chore(deps): update renovate/renovate docker tag to v39.233.4
  .gitlab/ci/renovate.gitlab-ci.yml
Due: none

chore(deps): update renovate/renovate docker tag to v39.233.5
  .gitlab/ci/renovate.gitlab-ci.yml
Due: none

fix(deps): update kotlin coroutines to v1.10.2
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency com.google.devtools.ksp to v2.1.20-2.0.0
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency androidx.compose:compose-bom to v2025.04.00
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency androidx.core:core-ktx to v1.16.0
  gradle/libs.versions.toml
Due: none

chore(deps): update kotlin monorepo to v2.1.20
  gradle/libs.versions.toml
Due: none

chore(deps): update amazoncorretto docker tag to v21.0.7-alpine3.20
  Dockerfile
Due: DockerImageBuild

fix(deps): update hilt to v2.56.2
  gradle/libs.versions.toml
Due: none

chore(deps): update docker docker tag to v28.1.0
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, ReviewdogDockerImageBuild

chore(deps): update renovate/renovate docker tag to v39.250.2
  .gitlab/ci/renovate.gitlab-ci.yml
Due: none

chore(deps): update docker docker tag to v28.1.1
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, ReviewdogDockerImageBuild

chore(deps): update android gradle plugin to v8.9.2
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency io.arrow-kt:arrow-stack to v2.1.0
  gradle/libs.versions.toml
Due: none

fix(deps): update dependency androidx.compose:compose-bom to v2025.04.01
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency gradle to v8.14
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: none
