Repository Maeda-Naoki/AndroidCI: changes, and which GitLab CI jobs are due for each by the changed paths.
All: DockerImageBuild, DangerDockerImageBuild

.gitlab/ci/docker.gitlab-ci.yml:

DockerImageBuild:
  stage: docker
  image: docker:24.0.6-git
  services:
    - name: docker:24.0.6-dind-alpine3.18
      alias: docker
  before_script:
    # Login GitLab container registry
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # Get Docker image version from Dockerfile
    - version=$(grep 'LABEL version=' Dockerfile | sed -e 's/.*=//' -e 's/"//g')
    # Set default version when there is no version label in the DockerImage
    - |
      if [ -z "$version" ] || [ ! -n "$version" ] || [ "$version" = "<no value>" ] || [ "$version" = "null" ]; then
        echo "Can't Get DockerImage version from latest image"
        echo "Set Default DockerImage version (v1.0.0)"
        version="1.0.0"
      fi
    # Display DockerImage version
    - echo $version
    # Build Docker image(version tag)
    - docker build --tag $CI_REGISTRY_IMAGE:$version .
    # Push Docker images to GitLab container registry
    - docker push $CI_REGISTRY_IMAGE:latest
    - docker push $CI_REGISTRY_IMAGE:$version
  rules:
    # Run a job only when the Dockerfile is changed.
    - changes:
        - .gitlab/ci/docker.gitlab-ci.yml
        - Dockerfile
  interruptible: true

DangerDockerImageBuild:
  stage: docker
  image: docker:24.0.6-git
  services:
    - name: docker:24.0.6-dind-alpine3.18
      alias: docker
  before_script:
    # Login GitLab container registry
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  script:
    # Get Docker image version from Dockerfile
    - version=$(grep 'LABEL version=' Danger.Dockerfile | sed -e 's/.*=//' -e 's/"//g')
    # Set default version when there is no version label in the DockerImage
    - |
      if [ -z "$version" ] || [ ! -n "$version" ] || [ "$version" = "<no value>" ] || [ "$version" = "null" ]; then
        echo "Can't Get DockerImage version from latest image"
        echo "Set Default DockerImage version (v1.0.0)"
        version="1.0.0"
      fi
    # Display DockerImage version
    - echo $version
    # Build Docker image(version tag)
    - docker build --tag $CI_REGISTRY_IMAGE/danger:$version -f Danger.Dockerfile .
    # Push Docker images to GitLab container registry
    - docker push $CI_REGISTRY_IMAGE/danger:latest
    - docker push $CI_REGISTRY_IMAGE/danger:$version
  rules:
    # Run a job only when the Dockerfile is changed.
    - changes:
        - .gitlab/ci/docker.gitlab-ci.yml
        - Danger.Dockerfile
  interruptible: true

build: remove Gradle configuration-cache unsafe prefix
  gradle.properties
Due: none

docs: update Gradle Configuration cache link
  gradle.properties
Due: none

build: add base Gradle version catalog file
  gradle/libs.versions.toml
Due: none

chore: add Gradle version catalog versions section
  gradle/libs.versions.toml
Due: none

chore: add Gradle version catalog libraries section
  gradle/libs.versions.toml
Due: none

chore: add Gradle version catalog plugins section
  gradle/libs.versions.toml
Due: none

chore: migrate Gradle plugin specification method to version catalog
  app/build.gradle.kts
  build.gradle.kts
Due: none

chore: update ktlint configure type
  build.gradle.kts
Due: none

style: add missing comma
  app/build.gradle.kts
Due: none

chore(deps): update amazoncorretto docker tag to v21.0.2-alpine3.18
  Dockerfile
Due: DockerImageBuild

chore(deps): update dependency org.jlleitschuh.gradle.ktlint to v12.1.0
  gradle/libs.versions.toml
Due: none

chore(deps): update docker docker tag to v25
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore(deps): update dind tag to v25.0.0-dind-alpine3.19
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore(deps): update android gradle plugin to v8.2.2
  gradle/libs.versions.toml
Due: none

chore(deps): update docker docker tag to v25.0.1
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore(deps): update docker docker tag to v25.0.2
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore(deps): update dependency gradle to v8.6
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Due: none

chore(deps): update docker docker tag to v25.0.3
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

fix(deps): update android jetpack library to v2.7.7
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency danger to v9.4.3
  Gemfile
Due: none

chore: remove Danger
  Danger.Dockerfile
  Dangerfile
  Gemfile
  renovate.json5
Due: DangerDockerImageBuild

chore: add Reviewdog base Dockerfile
  ReviewDog.Dockerfile
Due: none

chore: add Reviewdog Docker metadata
  ReviewDog.Dockerfile
Due: none

chore: add Reviewdog Dockerfile args
  ReviewDog.Dockerfile
Due: none

chore(deps): update android gradle plugin to v8.3.0
  gradle/libs.versions.toml
Due: none

chore(deps): update dependency org.jetbrains.kotlin.android to v1.9.23
  gradle/libs.versions.toml
Due: none

chore(deps): update docker docker tag to v25.0.4
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore: update Docker base image amazoncorretto:21.0.2-alpine3.19
  Dockerfile
Due: DockerImageBuild

chore: update Android Command-line tools version to 11076708
  Dockerfile
Due: DockerImageBuild

chore(deps): update android gradle plugin to v8.3.1
  gradle/libs.versions.toml
Due: none

chore(deps): update docker docker tag to v25.0.5
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore(deps): update docker docker tag to v26
  .gitlab/ci/docker.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore(deps): update dependency gradle to v8.7
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore: add Reviewdog dependencies install script
  ReviewDog.Dockerfile
Due: none

chore: migrate Danger Docker image to Reviewdog Docker image
  .gitlab/ci/docker.gitlab-ci.yml
  .gitlab/ci/lint.gitlab-ci.yml
Due: DockerImageBuild, DangerDockerImageBuild

chore: add Reviewdog install script
  ReviewDog.Dockerfile
Due: none

chore: migrate Android Lint report format to SARIF
  app/build.gradle.kts
Due: none

chore: apply SARIF fomat when GitLab CI Lint stage
  .gitlab/ci/lint.gitlab-ci.yml
Due: none

docs: migrate Danger to Reviewdog in README
  README.md
Due: none

chore: migrate Danger execution script to reviewdog execution script
  .gitlab/ci/lint.gitlab-ci.yml
Due: none
